<ion-view title="Todo">
    <ion-nav-bar class="bar-dark"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear large_button" menu-toggle="left">
            <i class="large_icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear large_button" style="margin-right: 5px;" ng-click="vm.showFilterBar()">
            <i class="large_icon ion-android-search"></i>
        </button>
        
        <button class="button button-icon button-clear large_button">
            <i class="large_icon ion-ios-eye"></i>
        </button>
    </ion-nav-buttons>

    <div class="list list-inset sub-headerbar">
      <label class="item item-input">
        <input type="text" placeholder="Enter title" on-touch="vm.openView();">
        <i class="icon ion-edit placeholder-icon" style="margin-right: 20px;"></i>
      </label>
    </div>
    
    <ion-content>
        

        <ion-list>
          <!--<div collection-repeat="item in vm.items | groupByMonthYear" divider-collection-repeat>-->
            <div ng-repeat="item in vm.items">
              <ion-item>
                <div>{{ item.description }}</div>
                <div>{{ item.date | date:'dd-MM-yyyy' }}</div>
              </ion-item>
          </div>
        </ion-list>  
    </ion-content>
</ion-view>